<% provide(:title, 'Dating App Show User') %>


<h3>Welcome <%= @user.name %> </h3>
<% if !@user.userimage.size.nil? %>
<%= image_tag @user.userimage.url, size: "140x120", style: "float:right; position: relative"%>
<% end %>


<div class="row">
	<div class="span5">
		<div class="well">
			<table style="font-size:1.4em">
				<tbody>
					<tr>
						<td>Name </td>
						<td>:</td>
						<td><%= @user.name%></td>
					</tr>
					<tr>
						<td>
							Age
						</td>
						<td>:</td>
						<td>
							<% if !@user.dateofbirth.nil?%>
							<%= (((Date.today - @user.dateofbirth).to_i)/ 365.25).to_i %>
							<% end %>
						</td>
					</tr>
					<tr>
						<td>
							Current Status 
						</td>
						<td>:</td>
						<td>
							<%=@user.current_status %>
						</td>
					</tr>
					<tr>
						<td>
							Qualification
						</td>
						<td>:</td>
						<td>
							<%= @user.qualification %>
						</td>
					</tr>
					<tr>
						<td>
							Occupation
						</td>
						<td>:</td>
						<td>
							<%= @user.occupation %>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>
